/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-size: 15px;

}

a {
    text-decoration: none;
    display: inline-block;  
    background-color: transparent;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}
/*
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
 */

/* 
    1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (Kiểu chữ, hình tròn, vuông, ...)
*/

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-btn:hover {
    background-color: rgb(244, 49, 49);
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 14px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/TheMusicBand/assets/images/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-content h3 {
    
    font-size: 24px;
    margin-bottom: 23px;
}

#slider .text-content p {
    font-size: 15px;
    font-weight: 300px;
}

#content {
    width: 100%;
    display: block;
    text-align: center;

}

#content .intro {
    padding: 64px 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content .content-info .header-content {
    margin: 10px 0;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#content .content-info .slogan-content {
    opacity: 0.6;
    margin: 15px 0;
    font-style: italic;
    font-size: 15px;

}

#content .intro .intro-para {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
}

#content .intro-member {
    padding: 32px 0;
    display: flex;
}

#content .intro-member p {
    margin: 15px 0;
    font-size: 15px;
}

#content .intro-member img {
    width: 60%;
    border-radius: 6px;
    margin-bottom: 16px;
}

#content .black {
    background-color: #000;
    color: #fff;
    width: 100%;
}

#content .black .content-container {
    padding: 64px 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

#content .black .ticket-selection {
    background-color: #fff;
    text-align: left;
    border: 1px solid #ccc;
}

#content .black .ticket-selection li {
    color: #757575;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

#content .black .ticket-selection .status {
    padding: 0 8px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

#content .black .ticket-selection .status-left {
    margin-left: 16px;
    background-color: rgb(244, 67, 54);
}

#content .black .ticket-selection .status-right {
    float: right;
    background-color: #000;
    border-radius: 50%;
    font-weight: 400;
    margin-right: 16px;
}

#content .black .ticket-place {
    display: flex;
    margin: 0 -16px;
    padding: 32px 8px;
}

#content .black .ticket-view {
    padding: 0 8px;
    margin-bottom: 16px;
    float: left;
    text-align: left;
    text-align: justify;
}

#content .black .ticket-view .ticket-white {
    background: #fff;
    color: #000;
    padding: 0.01em 16px;
}

#content .black .ticket-view img {
    width: 100%;
}

#content .black .ticket-view p {
    margin: 15px 0;
}

#content .black .ticket-place .ticket-view b {
    font-weight: 700;
    line-height: 22.5px;
    text-size-adjust: 100%;
}

#content .black .ticket-view .nation-date {
    opacity: 0.6;
}

#content .black .ticket-view button {
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 22.5px;
    font-size: 15px;
    border-style: none;
}

#content .black .ticket-view button:hover,
#content .content-contact .detail-contact .detail-customer .btn-send:hover
{
    cursor: pointer;
    background-color: #ccc;
    color: #333;
    border: none;
}

#content .content-contact {
    background-color: #fff;
}

#content .content-contact .detail-contact {
    display: flex;
    padding: 32px 0;
}

#content .content-contact .detail-contact .detail-owner {
    display: block;
    text-align: left;
    float: left;
    font-size: 18px;
    margin-bottom: 16px;
    width: 50%;

}

#content .content-contact .detail-contact .detail-owner li i {
    display: inline-block;
    width: 30px;
    font-weight: 700;
    margin-left: 3px;
}

#content .content-contact .detail-contact .detail-customer {
    width: 50%;
}
#content .content-contact .detail-contact .detail-customer .customer-name-email {
    margin: 0 -16px 8px -16px;
    display: flex;
    padding: 0 8px;
}

#content .content-contact .detail-contact .detail-customer .cs-input {
    padding: 8px 8px;
    display: block;
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    overflow: visible;
}

#content .content-contact .detail-contact .detail-customer .customer-data {
    padding: 0 8px;
}

#content .content-contact .detail-contact .detail-customer .btn-send {
    padding: 8px 16px;
    margin: 16px 0;
    float: right;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    line-height: 22.5px;
    font-size: 15px;
}

#main .img-footer {
    display: block;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #f3f3f3;
    margin-top: 0;
}

#footer .footer-icon i {
    font-size: 22px;
    text-rendering: auto;
    letter-spacing: 2px;
    line-height: 22.5px;
}

#footer .footer-icon i:hover {
    opacity: 0.6;
    cursor: pointer;
}

#footer p {
    margin: 15px 0;
    opacity: 0.6;
    line-height: 22.5px;
    text-align: center;
}
#footer a {
    text-decoration: underline;
}
